* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

table {
    border-collapse: collapse;
    width:80%;
    margin: 0 auto;
}

table:hover {
    color: red;
}

th, td {
    border: 1px solid black;
    padding: 8px;
    text-align: center;
}

tr:nth-child(odd) {
    background-color: lightgray;
}
