* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.btn {
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}

.btn:hover {
    /* border: 1px solid red; */
    background-color: rgb(42, 144, 228);
    color: wheat;
}


/* Используя псевдокласс сделайте так, чтобы при наведении на картинку она увеличивалась. (изменяйте значение width и/или height) 
 */


img {
    width: 700px;
    height: 500px;
    object-fit: cover;
    transition-property: all 2s 0.5s;
    /* transition:  width 2s 0.5s, height 1s 1s 2.5s; */
    transition-duration: 1s;
    /* transition-delay: 1s; */
}

/* animation */

/* transition-property: all;
    transition-duration: 2s;
    transition-delay: 0.5s;  */
/* transition-timing-function: cubic-bezier(.07,-1.5,.86,1.75); */
/* one line */
/* transition: all 2s 0.5s; */
/* transition: all 2s 0.5s cubic-bezier(1,-0.87, 0, 2.4); */
/* 
    transition: width 2s 0.5s, height 1s 2.5s;
    */

/*
Используя псевдокласс hover и свойство transform сделайте так, чтобы при наведении на картинку появлялась тень и она делала полный оборот (360 градусов).
*/
/* pseudo-class */
img:hover {
    width: 800px;
    height: 600px;
    transform: rotate(360deg);
    /* opacity: 0; */

    /* x y размытие распространение цвет */
    box-shadow: 0 0 20px 10px black;
}

/* img:hover {
    width: 250px;
  height: 250px;
} */

.mountain {
    width: 200px;
    height: 200px;
    /* transition: all 1s ease; */
    transition: box-shadow 0.3s, transform 0.5s;
    /* transition-timing-function: cubic-bezier(0,0,1,1); */
    transition-timing-function: cubic-bezier(.17, .67, .83, .67);
}

.mountain:hover {
    width: 250px;
    height: 250px;
    transform: rotate(360deg);
    /* opacity: 0; */
    box-shadow: 0 0 20px rgba(46, 40, 40, 0.74);

}

.button2 {
    background-color: #f35221;
    color: white;
    font-size: 16px;
    padding: 10px 20px;
    text-align: center;
    border: none;
    cursor: pointer;
    transition: transform 0.3s, background-color 0.3s, color 0.3s, box-shadow 0.3s;
}

.button2:hover {
    padding: 10px 15px;
    transform: scale(1.1);
    background-color: #2ebe29;
    color: #E1E1E1;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.25);
}

/* transition-timing-function: ease;
 transition-timing-function: ease-in; 
 transition-timing-function: ease-in-out;  
  transition-timing-function: ease-out;
    transition-timing-function: linear; */

ul {
    margin-top: 15px;
    padding-left: 40px;
    list-style: none;
}

ul li::after {
    /* content: "✽"; */
    /* content: "Hello"; */
    content: "";
    margin-left: 7px;
    background-color: blue;
    width: 10px;
    height: 10px;
    display: inline-block;
}

ul li::before {
    /* content: "✽"; */
    /* content: "Hello"; */
    content: "";
    margin-right: 7px;
    background-color: red;
    width: 10px;
    height: 10px;
    display: inline-block;
    border-radius: 50%;
}

.img_box {
    display: flex;
}

.mountain2 {
    width: 200px;
    height: 200px;
    margin: 5px;
}

.mountain2 img {
    width: 200px;
    height: 100px;
    object-fit: cover;
}