* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    display: flex;
    padding: 15px 70px;
    justify-content: space-between;
    background-color: #1abc9c;
    align-items: center;
}

header nav ul {
    list-style: none;
    display: flex;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 25px;
    cursor: pointer;
}

header nav ul li:not(:last-child) {
    margin-right: 20px;
}

header .social_box img:not(:last-child) {
    margin-right: 20px;
}

.about_us {
    display: flex;
}

.about_us div {
    width: 50%;
}

.about_us div:first-child img {
    width: 100%;                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                      
    height: 100%;
    object-fit: cover;
}

.about_us div:nth-child(2) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 62px;
    padding-right: 70px;
    text-align: justify;

}

.about_us div:nth-child(2) h2 {
    margin-bottom: 23px;
    font-size: 35px;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
}

.about_us div:nth-child(2) p {
    font-size: 20px;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
}

.our_projects {
    background-color: #DCFFEB;
    padding: 124px 65px;
}

.our_projects div h2 {
    margin-bottom: 50px;
}

.our_projects div div {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    /*  flex-wrap: wrap; --- Используют чтобы при масштабировании картинки красиво сьезжали друг под друга  */
}

.our_projects div div article {
    background-image: url(../media/project.png);
    /* Убрать повторение фона */
    /* background-repeat: no-repeat;
    background-size: cover; */
    width: 436px;
    height: 376px;
    padding: 0 36px;
    padding-bottom: 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    color: white;
}

.our_projects div div article h3 {
    margin-bottom: 16px;
    font-size: 24px;
    font-family: 'Oswald' sans-serif;
    font-weight: 500;
}
.our_projects div h2 {
font-family: 'Inter', sans-serif;
font-weight: 400;
font-size: 35px;
}

.our_projects div div article p {
font-family: 'Open Sans';
font-weight: 400;
}

.our_projects div div article:not(:last-child) {
    margin-right: 37px;
}

footer {
    padding: 84px 70px 76px;
}

footer div h2 {
    margin-bottom: 55px;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 35px;
}

footer .contacts_info {
    display: flex;
    justify-content: space-between;
    font-size: 24px;
    font-family: 'Oswald', sans-serif;
    font-weight: 500;
    flex-wrap: wrap;
}

footer .contacts_info div h3 {
    font-weight: 500;
    font-size: 24px;
    color: #999999;
    margin-bottom: 25px;
}

footer .contacts_info div {
    text-align: center;
    width: 315px;
}

footer .contacts_info div img {
    margin-bottom: 36px;
    width: 50px;
    height: 50px;
}

footer .contacts_info div:last-child p {
    color: #F7654A;
}