body{
    background: black;
}

.container{
    width: 95%;
    height: 100vh;
    display: flex;
    text-align: center;
}

.quotes{
    width:900px;
    height: 450px;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 50px ;
    color: rgb(68, 43, 12);
    background-color: rgb(241, 237, 229);
    background-origin: padding-box;
    border: 10px solid bisque;

}

.quotes p, .quotes h3{
    font-size: 1.5rem;
}

@media(max-width:480px){
    .quotes p, .quotes h3{
        font-size: 1rem;
    }
}