 p {
    /* border-style: inset; 
    border-width: 7px;
    border-color: rgb(24, 92, 35); */

/* top right bottom left */

    /* padding: 20px 20px 20px 20px;
    margin: 20px 40px 40px 40px; */

    color: rgb(165, 11, 165);
}

.conteiner img{
    display:block;
    margin:auto;
    }


 .post h1 {
    text-align: center;
}

 h2 {
    margin-bottom: 30px;
   text-align: center;
    margin-top: 10px;
}

 .post2 h2 {
    text-align: center;
    padding-top: 15px rgb(158, 17, 17);
    text-decoration: wavy;
    margin-bottom: 30px;

}

div {
    background-color: rgb(167, 207, 230);
}

.main{
    text-align: center;
    padding-inline: 20px;
    color: darkolivegreen;
    margin: 20px 20px 20px 20px;
}

.social-links a {
    /* Меняем тип элемента на блочный */
    /* блочный - block */
    /* строчный - inline */
   display: inline;
  
}