* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.number_cards {
    display: flex;
}

.number_cards .card {
    width: 150px;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: azure;
    color: blue;
    border: 1px solid black;
    margin: 5px;
    cursor: pointer;
    font-size: 24px;
}

.number_cards .active {
    background-color: blue;
    color: azure;
}

.box {
    background-color: green;
    border:2px solid black;
}

.colorDiv {
    width: 100px;
    height: 100px;
    margin: 10px;
    display: inline-block;
  }