
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.product_form_container {
    padding: 140px 240px;
    width: 100%;
}

.product_form_container #product_form {
    display: flex;
    flex-direction: column;
    background-color: #34495E;
    padding: 77px 150px 88px;
    border-radius: 20px;
}

.product_form_container #product_form .product_name {
    margin-bottom: 36px;
}

.product_form_container #product_form .product_price {
    margin-bottom: 122px;
}

.product_form_container #product_form button {
    padding: 10px;
    font-size: 25px;
    background-color: #27AE60;
    color: white;
    border: none;
    cursor: pointer;
}

.product_form_container #product_form input {
    padding: 10px;
    padding-left: 35px;
    color: black;
    background-color: #D9D9D9;
    border: none;
    font-size: 25px;
}

.product_form_container #product_form input::placeholder {
    color: black;
}

.products_container {
    display: flex;
    flex-direction: column;
    padding-left: 240px;
    padding-right: 240px;
}

.products_container .product-item {
    display: flex;
    justify-content: space-between;
    background-color: #34495E;
    padding: 30px 60px;
    border-radius: 20px;
    margin-bottom: 15px;
}

.products_container .product-item p {
    color: white;
    font-size: 25px;
}